scripts/.Rhistory
aulas/07_K_Vizinhos_Mais_Proximos/.Rhistory
aulas/12_Projeto_III/.DS_Store
aulas/11_Projeto_II/.DS_Store
aulas/08_Maquinas_de_Vetor_Suporte/.DS_Store
aulas/07_K_Vizinhos_Mais_Proximos/.DS_Store
aulas/05_Projeto_I/
aulas/11_Projeto_II/
aulas/.DS_Store
.DS_Store
.Rproj.user
aulas/11_Projeto_II/trash.py
aulas/11_Projeto_II/trash.R
*.Rhistory
*.Rproj
*.RData
